*{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 16px;
}

body{
    background-color: rgb(21, 21, 150);

}

img.lado{
    float: right;
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(95, 8, 8);
}